.action-buttons {
  display: flex;
  gap: 1px;
  justify-content: center;
  align-items: center;

  button {
    width: 30px;
    height: 30px;
    padding: 0;
    mat-icon {
      font-size: 20px;
    }
  }
}
