<h2 class="dialog-title" mat-dialog-title><mat-icon class="title-icon">edit</mat-icon> Edit Provider</h2>

<!-- Dialog Content -->
<mat-dialog-content class="mat-typography">
  <form class="form-container" [formGroup]="updatepPoviderForm" (ngSubmit)="updateProvider()" *ngIf="!response">
    <div *ngIf="errorResponse != null && errorResponse.length" class="error-message">
      <div *ngFor="let msg of errorResponse">{{ msg }}</div>
    </div>

    <div class="form-row">
      <label for="id">Provider ID</label>
      <mat-form-field appearance="outline">
        <input matInput id="id" formControlName="id" placeholder="Enter Provider Id" style="font-weight: bolder" />
      </mat-form-field>
      <mat-error *ngIf="providerId?.invalid && (providerId?.dirty || providerId?.touched)"> ProviderId is mandatory</mat-error>
    </div>

    <div class="form-row">
      <label for="providerName">Provider Name</label>
      <mat-form-field appearance="outline">
        <input matInput id="providerName" formControlName="name" placeholder="Enter Provider Name" style="font-weight: bolder" />
      </mat-form-field>
      <mat-error *ngIf="providerName?.invalid && (providerName?.dirty || providerName?.touched)"> Provider Name is mandatory</mat-error>
    </div>

    <div class="form-row">
      <label for="createdOn">Created On</label>
      <mat-form-field appearance="outline">
        <input matInput id="createdOn" formControlName="createdOn" placeholder="Enter Created On" style="font-weight: bolder" />
      </mat-form-field>
      <mat-error *ngIf="createdOn?.invalid && (createdOn?.dirty || createdOn?.touched)"> Created On is mandatory</mat-error>
    </div>

    <div class="form-row">
      <label for="updatedOn">Updated On</label>
      <mat-form-field appearance="outline">
        <input matInput id="updatedOn" formControlName="updatedOn" placeholder="Enter Updated On" style="font-weight: bolder" />
      </mat-form-field>
      <mat-error *ngIf="updatedOn?.invalid && (updatedOn?.dirty || updatedOn?.touched)"> Updated On is mandatory</mat-error>
    </div>

    <!-- Submit Button -->
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="updatepPoviderForm.invalid">
        <mat-icon class="material-icon-left">save</mat-icon>
        Update Provider
      </button>
    </div>
  </form>

  <!-- Success Message -->
  <div *ngIf="response != null" class="success-message">
    <mat-icon>check_circle</mat-icon> Provider updated! Provider Name: <strong>{{ response.name }}</strong>
  </div>
</mat-dialog-content>


<!-- Dialog Footer -->
<mat-dialog-actions align="end" class="dialog-footer">
  <button mat-stroked-button mat-dialog-close>
    <mat-icon class="material-icon-left">close</mat-icon>
    Cancel
  </button>
  <button mat-flat-button color="accent" [mat-dialog-close]="true">
    <mat-icon class="material-icon-left">list</mat-icon>
    User API Key List
  </button>
</mat-dialog-actions>
