<h2 class="dialog-title delete-header" mat-dialog-title> <mat-icon class="title-icon">delete</mat-icon> Delete Sender</h2>
<!-- Dialog Content -->
<mat-dialog-content class="mat-typography">
  <div *ngIf="!response">
    <p class="confirm-text">
      Are you sure you want to delete sender ID <strong>{{ rowData?.senderId }}</strong
      >?
    </p>
    <div class="action-buttons">
      <button mat-stroked-button color="primary" mat-dialog-close>
        <mat-icon class="material-icon-left">close</mat-icon>
        Cancel
      </button>
      <button mat-flat-button color="warn" (click)="deleteSender(rowData?.senderId)">
        <mat-icon class="material-icon-left">delete</mat-icon>
        Delete
      </button>
    </div>
  </div>

  <!-- Success Message -->
  <div *ngIf="response" class="success-message">
    <mat-icon>check_circle</mat-icon> senderId {{ response.senderId }} deleted successfully"
  </div>
  <div *ngIf="errorResponse != null && errorResponse.length" class="error-message">
    <div *ngFor="let msg of errorResponse">{{ msg }}</div>
  </div>
</mat-dialog-content>

<!-- Footer -->
<mat-dialog-actions align="end" class="dialog-footer">
  <button mat-button mat-dialog-close>
    <mat-icon class="material-icon-left">cancel</mat-icon>
    Close
  </button>
  <button mat-flat-button color="accent" [mat-dialog-close]="true">
    <mat-icon class="material-icon-left">list</mat-icon>
    Sender List
  </button>
</mat-dialog-actions>
