<h2 mat-dialog-title>Delete Sender</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="!message">
    <mat-dialog-content> Would you like to delete sender Id {{ rowData?.senderId }}? </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>No</button>
      <button mat-button (click)="deleteSender(rowData?.senderId)">Ok</button>
    </mat-dialog-actions>
  </div>
  <div *ngIf="message">{{ message }}</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-raised-button color="primary" type="submit" (click)="createSender()" [disabled]="createSenderForm.invalid" style="margin-left: 0.5rem;" [mat-dialog-close]="true" cdkFocusInitial> Create Sender </button> -->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Sender List</button>
</mat-dialog-actions>
