<mat-card class="form-card">
  <div class="header-bar">
    <div class="sender-info">
      <p>
        A Sender ID represents the name or number shown to recipients when they receive your SMS. As per TRAI regulations, messages from
        applications to individuals (A2P SMS) must be sent using a Sender ID rather than a mobile number.
      </p>
      <p> This ID is used especially for transactional messages and defines your brand or service identity to your users. </p>
      <p><strong>Sender ID formats:</strong></p>
      <ul>
        <li> <strong>Promotional SMS:</strong> Uses a 6-digit numeric Sender ID provided by the operator. Example: <code>777777</code> </li>
        <li>
          <strong>Transactional SMS:</strong> Requires an alphabetic ID, typically 5 to 6 characters long. Example: <code>NOTIFY</code>
        </li>
      </ul>
    </div>
  </div>

  <div class="header-bar search-bar">
    <mat-form-field appearance="outline" class="sender-search">
      <mat-label>Search table</mat-label>
      <input matInput type="text" [(ngModel)]="senderGlobalSearch" (ngModelChange)="onGlobalSearchChange()" placeholder="Search..." />
      <button *ngIf="senderGlobalSearch" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="theme-switcher-wrapper">
      <div class="theme-select">
        <mat-form-field appearance="fill">
          <mat-label>Theme</mat-label>
          <mat-select (selectionChange)="changeTheme($event)">
            <mat-option *ngFor="let theme of themes" [value]="theme.value">
              <mat-icon class="option-icon">palette</mat-icon>
              {{ theme.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="create-btn">
        <button mat-raised-button color="primary" [routerLink]="['./create']">
          <mat-icon class="material-icon-left">add</mat-icon>
          Create Sender
        </button>
      </div>
    </div>
  </div>

  <div [ngClass]="currentTheme" class="ag-grid-container">
    <ag-grid-angular
      #agGrid
      class="ag-theme-custom"
      style="width: 100%; height: 500px"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      rowSelection="single"
      pagination="true"
      [paginationPageSize]="20"
      (gridReady)="onGridReady($event)"
      [context]="context"
    >
    </ag-grid-angular>
  </div>
</mat-card>
