@use '@angular/material' as mat;
@include mat.core();

// font
@import 'scss/fonts/tabler-icons.min.css';

// load fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

// theme setup
@import './app/@theme/styles/theme-palette-colors.scss';
@import './app/@theme/styles/theme.scss';
@include mat.all-component-typographies(theme-typography("'Inter var', sans-serif")); // theme typography

// default theme
@include mat.all-component-themes(get-light-theme($blue-theme));

// generate non material classes based on theme
.blue-theme {
  @include generate-theme-classes($blue-theme); // generate non material classes based on theme
}
// .dark-theme {
//   @include mat.all-component-themes($dark-theme);
//   @include generate-theme-classes($dark-theme);
// }

// common
@import './scss/generic';
@import './scss/common';
@import './scss/variables';

// theme layouts
@import './app/@theme/styles/layouts/menu';
@import './app/@theme/styles/pages/dashboard.scss';

// grid
@import './app/@theme/styles/grid';

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';
@import 'ag-grid-community/styles/ag-theme-material.css';

.ag-theme-material {
  --ag-foreground-color: #1f2937;
  --ag-background-color: #f9fafb;
  --ag-header-background-color: #4f46e5;
  --ag-header-foreground-color: #fff;
  --ag-row-hover-color: #e0e7ff;
  font-family: 'Inter', sans-serif;
}
